@font-face {
  font-family: Spartan;
  src: url(https://fonts.google.com/specimen/Spartan);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: Spartan, sans-serif;
}

.content {
  display: grid;
  grid-template-areas: 'top' 'center' 'bottom';
}

.top {
  grid-area: top;
  background-image: url(../images/bg-pattern-top-mobile.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5rem 1.5rem 1rem 1.5rem;
}

.top .topElement {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.top .topElement h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #502050;
}

.top .topElement p {
  padding: 1rem 0 1rem 0;
  font-size: 1.3rem;
  line-height: 1.5rem;
  color: #937b92;
}

.center {
  grid-area: center;
  display: grid;
  grid-template-columns: 12;
  grid-template-rows: 12;
  gap: 1rem;
  padding: 1rem;
}

.center .element, .center .centerElement1, .center .centerElement2, .center .centerElement3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: #f7f2f7;
  padding: 1rem;
  border-radius: 0.5rem;
}

.center .element p, .center .centerElement1 p, .center .centerElement2 p, .center .centerElement3 p {
  color: #502050;
  font-weight: 700;
}

.center .starCont {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.center .centerElement1 {
  grid-column: 1 / span 12;
  grid-row: 1/ span 4;
}

.center .centerElement2 {
  grid-column: 1 / span 12;
  grid-row: 5 / span 4;
}

.center .centerElement3 {
  grid-column: 1 / span 12;
  grid-row: 9 / span 4;
}

.bottom {
  grid-area: bottom;
  background-image: url(../images/bg-pattern-bottom-mobile.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 12;
  grid-template-rows: 14;
  gap: 1rem;
  padding: 3rem 1rem 1rem 1rem;
}

.bottom .bottomElement, .bottom .bottomElement1, .bottom .bottomElement2, .bottom .bottomElement3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.5rem;
  background-color: #502050;
  padding: 2rem;
  border-radius: 0.5rem;
}

.bottom .bottomElement p, .bottom .bottomElement1 p, .bottom .bottomElement2 p, .bottom .bottomElement3 p {
  color: #f7f2f7;
  font-weight: 500;
  line-height: 1.5rem;
}

.bottom .bottomElement1 {
  grid-column: 1 / span 12;
  grid-row: 1 /span 4;
}

.bottom .bottomElement2 {
  grid-column: 1 / span 12;
  grid-row: 5 /span 4;
}

.bottom .bottomElement3 {
  grid-column: 1 / span 12;
  grid-row: 9 /span 4;
}

.bottom figure {
  display: flex;
  gap: 1.5rem;
}

.bottom figure .image, .bottom figure .imageEl .imageEl-1, .bottom figure .imageEl .imageEl-2, .bottom figure .imageEl .imageEl-3 {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bottom figure .imageEl .imageEl-1 {
  background-image: url(../images/image-1.jpg);
}

.bottom figure .imageEl .imageEl-2 {
  background-image: url(../images/image-2.jpg);
}

.bottom figure .imageEl .imageEl-3 {
  background-image: url(../images/image-3.jpg);
}

.bottom figure figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom figure figcaption h5 {
  font-weight: 400;
  color: #ee68a4;
}

.bottom figure figcaption p {
  color: #f7f2f7;
  font-weight: 500;
  line-height: 1.5rem;
}

.bottom footer {
  grid-area: footer;
  grid-column: 1 / span 12;
  grid-row: 13 / span 2;
  gap: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2rem 1.5rem 1rem 1.5rem;
  text-align: center;
}

.bottom footer p {
  color: #937b92;
  font-size: 10px;
}

.bottom footer a {
  color: #502050;
  text-decoration: none;
  font-size: 10px;
}

.bottom footer a:hover {
  border-bottom: solid 1px #502050;
}

@media screen and (min-width: 576px /* value changed from 376px*/) {
  body {
    background-image: url(../images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .content {
    display: grid;
    grid-template-areas: 'top center' 'bottom bottom';
    grid-template-columns: 1fr 1fr;
    background-image: url(../images/bg-pattern-top-desktop.svg);
    background-repeat: no-repeat;
    background-size: auto;
  }
  .top {
    width: 100%;
    background-image: none;
    padding: 5rem;
  }
  .center {
    width: 100%;
    padding: 5rem;
  }
  .center .centerElement1 {
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
    grid-column: 1 / span 10;
    grid-row: 1 / span 4;
    padding: 0 2rem 0 2rem;
  }
  .center .centerElement2 {
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
    grid-column: 2 / span 10;
    grid-row: 5 / span 4;
    padding: 0 2rem 0 2rem;
  }
  .center .centerElement3 {
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
    grid-column: 3 / span 10;
    grid-row: 9 / span 4;
    padding: 0 2rem 0 2rem;
  }
  .bottom {
    width: 100%;
    background-image: none;
    padding: 1rem 5rem;
  }
  .bottom .bottomElement1 {
    grid-column: 1 / span 4;
    grid-row: 1 / span 10;
  }
  .bottom .bottomElement2 {
    grid-column: 5 / span 4;
    grid-row: 2 / span 10;
  }
  .bottom .bottomElement3 {
    grid-column: 9 / span 4;
    grid-row: 3 / span 10;
  }
}
